<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <title>Welcome to <%=appData.appName%></title>
  <link rel="stylesheet"  type="text/css" href="/main.css" />
</head>
  <body>
    <%- include('headerMenu') %>
      <main class="content">
        <h1><%=appData.appName%>: Add book</h1>
        <form method="POST" action="/bookadded">
            <p>Book name: <input id="name" type="text" name="name" value="" /></p>
            <p>Price: <input id="price" type="text" name="price" value="" /></p>
            <input type="submit" value="Add Book" />
          </form>
      </main>
      <%- include('footerMenu') %>
  </body>
</html>

